<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.generate.RedPackMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.generate.RedPack" >
    <result column="red_pack_type" property="redPackType" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.imooc.generate.RedPack" >
    insert into redpack (red_pack_type, amount, time, 
      openid)
    values (#{redPackType,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imooc.generate.RedPack" >
    insert into redpack
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="redPackType != null" >
        red_pack_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="openid != null" >
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="redPackType != null" >
        #{redPackType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>