<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.WxActivityMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.dataobject.WxActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="storeId" property="storeid" jdbcType="VARCHAR" />
    <result column="phoneNum" property="phonenum" jdbcType="VARCHAR" />
    <result column="activityInfo" property="activityinfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, storeId, phoneNum, activityInfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.imooc.dataobject.WxActivity" >
    insert into wx_activity (id, storeId, phoneNum, 
      activityInfo)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, 
      #{activityinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imooc.dataobject.WxActivity" >
    insert into wx_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeid != null" >
        storeId,
      </if>
      <if test="phonenum != null" >
        phoneNum,
      </if>
      <if test="activityinfo != null" >
        activityInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="activityinfo != null" >
        #{activityinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.imooc.dataobject.WxActivity" >
    update wx_activity
    <set >
      <if test="storeid != null" >
        storeId = #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="activityinfo != null" >
        activityInfo = #{activityinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imooc.dataobject.WxActivity" >
    update wx_activity
    set storeId = #{storeid,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      activityInfo = #{activityinfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>