<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.WxMiniUserMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.dataobject.WxMiniUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_openid" property="userOpenid" jdbcType="VARCHAR" />
    <result column="host_phone" property="hostPhone" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_phone, user_openid, host_phone, store_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_mini_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_mini_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.imooc.dataobject.WxMiniUser" >
    insert into wx_mini_user (id, user_phone, user_openid, 
      host_phone, store_id)
    values (#{id,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{userOpenid,jdbcType=VARCHAR}, 
      #{hostPhone,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imooc.dataobject.WxMiniUser" >
    insert into wx_mini_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userOpenid != null" >
        user_openid,
      </if>
      <if test="hostPhone != null" >
        host_phone,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userOpenid != null" >
        #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="hostPhone != null" >
        #{hostPhone,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.imooc.dataobject.WxMiniUser" >
    update wx_mini_user
    <set >
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userOpenid != null" >
        user_openid = #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="hostPhone != null" >
        host_phone = #{hostPhone,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imooc.dataobject.WxMiniUser" >
    update wx_mini_user
    set user_phone = #{userPhone,jdbcType=VARCHAR},
      user_openid = #{userOpenid,jdbcType=VARCHAR},
      host_phone = #{hostPhone,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>